In [1]:
import pandas as pd

In [2]:
file_csv = "Heroesofpymoli_data.csv"

In [3]:
data_df = pd.read_csv(file_csv)

In [4]:
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Display the total number of players

In [5]:
unique_players = data_df["SN"].unique()

In [6]:
total_players_data = len(unique_players)
total_players_dicts = [{"total_players":total_players_data}]
total_players = pd.DataFrame(total_players_dicts)
total_players

   total_players
0            576

Purchasing Analysis (Total)
 
Run basic calculations to obtain number of unique items, average price, etc.


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [7]:
unique_items = data_df["Item Name"].unique()

In [8]:
Number_of_Unique_Item = len(unique_items)

In [9]:
Average_Price = data_df["Price"].mean()

In [10]:
Number_Of_Purchase = len(data_df["Purchase ID"])

In [11]:
Total_Revenue = data_df["Price"].sum()

In [12]:
Summary_dicts = [{"Number of Unique Item":Number_of_Unique_Item,"Average Price":Average_Price,"Number Of Purchases":Number_Of_Purchase,"Total Revenue":Total_Revenue}]
Summary_df = pd.DataFrame(Summary_dicts)
Summary_df["Average Price"] = Summary_df["Average Price"].map("${0:,.2f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("${0:,.2f}".format)
Summary_df

   Number of Unique Item Average Price  Number Of Purchases Total Revenue
0                    179         $3.05                  780     $2,379.77

 Gender Demographics
 
Percentage and Count of Male Players


Percentage and Count of Female Players


Percentage and Count of Other / Non-Disclosed

In [13]:
Male_Players = data_df.loc[data_df["Gender"]=="Male",:]
Total_Male = Male_Players["SN"].unique()
Total_Male_Number = len(Total_Male)

In [14]:
Female_Players = data_df.loc[data_df["Gender"]=="Female",:]
Total_Female = Female_Players["SN"].unique()
Total_Female_Number = len(Total_Female)

In [15]:
Other_Players = data_df.loc[(data_df["Gender"]!="Female") & (data_df["Gender"]!= "Male"),:]
Other_Total = Other_Players["SN"].unique()
Other_Players_Number = len(Other_Total)

In [16]:
Male_percentage = Total_Male_Number / total_players_data

In [17]:
Female_percentage = Total_Female_Number / total_players_data

In [18]:
Other_percentage = Other_Players_Number / total_players_data

In [19]:
Gender_Summary_dicts = {'Total Count':[Total_Male_Number,Total_Female_Number,Other_Players_Number],'Percentage of Players':[Male_percentage,Female_percentage,Other_percentage]}

In [20]:
Gender_Summary_df = pd.DataFrame(Gender_Summary_dicts,index=['Male','Female','Other/Non-Disclosed'])
Gender_Summary_df["Percentage of Players"] = Gender_Summary_df["Percentage of Players"].map("{:,.2%}".format)
Gender_Summary_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

 Purchasing Analysis (Gender)
 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [21]:
columns = ["Gender"]
Female_Purchase = data_df.loc[data_df["Gender"]=="Female",columns]
Female_Purchase_count = len(Female_Purchase)

In [22]:
columns = ["Gender"]
Male_Purchase = data_df.loc[data_df["Gender"]=="Male",columns]
Male_Purchase_count = len(Male_Purchase)

In [23]:
columns = ["Gender"]
Other_Purchase = data_df.loc[(data_df["Gender"]!="Female") & (data_df["Gender"]!= "Male"),columns]
Other_Purchase_count = len(Other_Purchase)

In [24]:
columns = ["Gender","Price"]
Female_Purchase_Price = data_df.loc[data_df["Gender"]=="Female",columns]
Female_Purchase_Average = Female_Purchase_Price["Price"].mean()

In [25]:
columns = ["Gender","Price"]
Male_Purchase_Price = data_df.loc[data_df["Gender"]=="Male",columns]
Male_Purchase_Average = Male_Purchase_Price["Price"].mean()

In [26]:
columns = ["Gender","Price"]
Other_Purchase_Price = data_df.loc[(data_df["Gender"]!="Female") & (data_df["Gender"]!= "Male"),columns]
Other_Purchase_Average = Other_Purchase_Price["Price"].mean()

In [27]:
Total_Female_Purchase = Female_Purchase_count * Female_Purchase_Average

In [28]:
Total_Male_Purchase = Male_Purchase_count * Male_Purchase_Average

In [29]:
Total_Other_Purchase = Other_Purchase_count * Other_Purchase_Average

In [30]:
ATP_Per_Female = Total_Female_Purchase / Total_Female_Number

In [31]:
ATP_Per_Male = Total_Male_Purchase / Total_Male_Number

In [32]:
ATP_Per_Other = Total_Other_Purchase / Other_Players_Number

In [33]:
Purchase_Analysis_dicts = {'Purchase Count':[Female_Purchase_count,Male_Purchase_count,Other_Purchase_count],'Average Purchase Price':[Female_Purchase_Average,Male_Purchase_Average,Other_Purchase_Average],'Total Purchase Value':[Total_Female_Purchase,Total_Male_Purchase,Total_Other_Purchase],'Avg Total Purchase Per Person':[ATP_Per_Female,ATP_Per_Male,ATP_Per_Other]}

In [34]:
Purchase_Analysis_df = pd.DataFrame(Purchase_Analysis_dicts,index = ['Female','Male','Other/Non-disclosed'])
Purchase_Analysis_df["Average Purchase Price"] = Purchase_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Analysis_df["Total Purchase Value"] = Purchase_Analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analysis_df["Avg Total Purchase Per Person"] = Purchase_Analysis_df["Avg Total Purchase Per Person"].map("${:,.2f}".format)
Purchase_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non-disclosed,15,$3.35,$50.19,$4.56


Age Demographics
 
Establish bins for ages


Categorize the existing players using the age bins. Hint: use pd.cut()


Calculate the numbers and percentages by age group


Create a summary data frame to hold the results


Optional: round the percentage column to two decimal points


Display Age Demographics Table

In [35]:
Unique_df = data_df.drop_duplicates("SN")

In [36]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [37]:
Unique_df["Age_Range"] = pd.cut(Unique_df["Age"],bins,labels=group_names,include_lowest=True)

/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
Age_Count = Unique_df.groupby("Age_Range")['Age'].count()

In [39]:
Total_Age_Count = (Age_Count).sum()

In [40]:
Percentage_Age = Age_Count / Total_Age_Count

In [41]:
Age_Demographics_dicts =({'Total Count':Age_Count,'Percentage of Players':Percentage_Age})

In [43]:
Age_Demographics_df = pd.DataFrame(Age_Demographics_dicts,index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
Age_Demographics_df["Percentage of Players"] = Age_Demographics_df["Percentage of Players"].map("{:,.2%}".format)
Age_Demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age


Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [44]:
data_df["Age_Purchase_Range"] = pd.cut(data_df["Age"],bins,labels=group_names,include_lowest=True)
Age_Purchase_Count = data_df.groupby("Age_Purchase_Range")['Age'].count()

In [45]:
data_df["Age_Range"] = pd.cut(data_df["Age"],bins,labels=group_names,include_lowest=True)
Age_Group_Price = data_df.groupby("Age_Range")
Average_Purchase_Price = Age_Group_Price["Price"].mean()

In [46]:
Total_Purchase_Value = Average_Purchase_Price * Age_Purchase_Count

In [47]:
ATP_Per_Person = Total_Purchase_Value / Age_Count

In [48]:
Purchasing_Analysis_dicts = ({'Purchase Count':Age_Purchase_Count,'Average Purchase Price':Average_Purchase_Price,'Total Purchase Value':Total_Purchase_Value,'Avg Total Purchase per Person':ATP_Per_Person})

In [49]:
Purchasing_Analysis_df = pd.DataFrame(Purchasing_Analysis_dicts,index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

In [50]:
Purchasing_Analysis_df["Average Purchase Price"] = Purchasing_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis_df["Total Purchase Value"] = Purchasing_Analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis_df["Avg Total Purchase per Person"] = Purchasing_Analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchasing_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders
 
Run basic calculations to obtain the results in the table below


Create a summary data frame to hold the results


Sort the total purchase value column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

In [51]:
Top_Spenders = data_df.loc[(data_df["SN"]=="Lisosia93")|(data_df["SN"]=="Idastidru52")|(data_df["SN"]=="Chamjask73")|(data_df["SN"]=="Iral74")|(data_df["SN"]=="Iskadarya95"),:]

In [52]:
Purchase_Count = Top_Spenders["SN"].value_counts()

In [53]:
Average_Purchase_Price = Top_Spenders.groupby("SN")["Price"].mean()

In [54]:
Total_Purchase_Price = Purchase_Count*Average_Purchase_Price

In [55]:
Top_Spenders_dicts = ({'Purchase Count':Purchase_Count,'Average Purchase Price':Average_Purchase_Price,'Total Purchase Price':Total_Purchase_Price})

In [56]:
Top_Spenders_df = pd.DataFrame(Top_Spenders_dicts,index = ['Chamjask73','Idastidru52','Iral74','Iskadarya95','Lisosia93'])
Top_Spenders_df["Average Purchase Price"] = Top_Spenders_df["Average Purchase Price"].map("${:,.2f}".format)
Top_Spenders_df["Total Purchase Price"] = Top_Spenders_df["Total Purchase Price"].map("${:,.2f}".format)
Top_Spenders_df

             Purchase Count Average Purchase Price Total Purchase Price
Chamjask73                3                  $4.61               $13.83
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
Lisosia93                 5                  $3.79               $18.96

Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns


Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


Create a summary data frame to hold the results


Sort the purchase count column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

In [57]:
Item_Info = data_df.loc[:,["Item ID","Item Name","Price"]]
Item_Info = Item_Info.groupby(["Item ID","Item Name","Price"])
Purchase_Count = Item_Info["Price"].count()
Item_Price = Item_Info["Price"]
Total_Purchase_Value = Item_Info["Price"].sum()

In [58]:
Most_Popular_Item_df = pd.DataFrame({'Purchase Count':Purchase_Count,'Item Price':Item_Price,'Total Purchase Value':Total_Purchase_Value})
Most_Popular_Item_df["Total Purchase Value"] = Most_Popular_Item_df["Total Purchase Value"].map("${:,.2f}".format)
Most_Popular_Item_df

                                                            Purchase Count  \
Item ID Item Name                                    Price
0       Splinter                                     1.28                4
1       Crucifer                                     1.99                1
                                                     3.26                3
2       Verdict                                      2.48                6
3       Phantomlight                                 2.49                6
...                                                                    ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23               12
179     Wolf, Promise of the Moonwalker              4.48                6
181     Reaper's Toll                                1.66                5
182     Toothpick                                    4.03                3
183     Dragon's Greatsword                          1.09                3

                                                                                                   Item Price  \
Item ID Item Name                                    Price
0       Splinter                                     1.28     ((0, Splinter, 1.28), [1.28, 1.28, 1.28, 1.28])
1       Crucifer                                     1.99                       ((1, Crucifer, 1.99), [1.99])
                                                     3.26           ((1, Crucifer, 3.26), [3.26, 3.26, 3.26])
2       Verdict                                      2.48   ((2, Verdict, 2.48), [2.48, 2.48, 2.48, 2.48, ...
3       Phantomlight                                 2.49   ((3, Phantomlight, 2.49), [2.49, 2.49, 2.49, 2...
...                                                                                                       ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23   ((178, Oathbreaker, Last Hope of the Breaking ...
179     Wolf, Promise of the Moonwalker              4.48   ((179, Wolf, Promise of the Moonwalker, 4.48),...
181     Reaper's Toll                                1.66   ((181, Reaper's Toll, 1.66), [1.66, 1.66, 1.66...
182     Toothpick                                    4.03        ((182, Toothpick, 4.03), [4.03, 4.03, 4.03])
183     Dragon's Greatsword                          1.09   ((183, Dragon's Greatsword, 1.09), [1.09, 1.09...

                                                           Total Purchase Value
Item ID Item Name                                    Price
0       Splinter                                     1.28                 $5.12
1       Crucifer                                     1.99                 $1.99
                                                     3.26                 $9.78
2       Verdict                                      2.48                $14.88
3       Phantomlight                                 2.49                $14.94
...                                                                         ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23                $50.76
179     Wolf, Promise of the Moonwalker              4.48                $26.88
181     Reaper's Toll                                1.66                 $8.30
182     Toothpick                                    4.03                $12.09
183     Dragon's Greatsword                          1.09                 $3.27

[183 rows x 3 columns]

In [59]:
Sorted_Most_Popular_Item_df = Most_Popular_Item_df.sort_values("Purchase Count",ascending=False)
Sorted_Most_Popular_Item_df

,,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,Price,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,"((178, Oathbreaker, Last Hope of the Breaking ...",$50.76
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,"((108, Extraction, Quickblade Of Trembling Han...",$31.77
145,Fiery Glass Crusader,4.58,9,"((145, Fiery Glass Crusader, 4.58), [4.58, 4.5...",$41.22
82,Nirvana,4.90,9,"((82, Nirvana, 4.9), [4.9, 4.9, 4.9, 4.9, 4.9,...",$44.10
37,"Shadow Strike, Glory of Ending Hope",3.16,8,"((37, Shadow Strike, Glory of Ending Hope, 3.1...",$25.28
...,...,...,...,...,...
27,"Riddle, Tribute of Ended Dreams",3.30,1,"((27, Riddle, Tribute of Ended Dreams, 3.3), [...",$3.30
30,Stormcaller,3.36,1,"((30, Stormcaller, 3.36), [3.36])",$3.36
126,Exiled Mithril Longsword,2.00,1,"((126, Exiled Mithril Longsword, 2.0), [2.0])",$2.00
51,Endbringer,4.66,1,"((51, Endbringer, 4.66), [4.66])",$4.66
91,Celeste,4.17,1,"((91, Celeste, 4.17), [4.17])",$4.17


Most Profitable Items
 
Sort the above table by total purchase value in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the data frame

In [490]:
Sorted_TPV_df = Sorted_Most_Popular_Item_df.sort_values("Total Purchase Value",ascending=False)
Sorted_TPV_df

,,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,Price,,,
63,Stormfury Mace,4.99,2,"((63, Stormfury Mace, 4.99), [4.99, 4.99])",$9.98
29,"Chaos, Ender of the End",1.98,5,"((29, Chaos, Ender of the End, 1.98), [1.98, 1...",$9.90
173,Stormfury Longsword,4.93,2,"((173, Stormfury Longsword, 4.93), [4.93, 4.93])",$9.86
1,Crucifer,3.26,3,"((1, Crucifer, 3.26), [3.26, 3.26, 3.26])",$9.78
38,"The Void, Vengeance of Dark Magic",2.37,4,"((38, The Void, Vengeance of Dark Magic, 2.37)...",$9.48
...,...,...,...,...,...
151,Severance,3.40,3,"((151, Severance, 3.4), [3.4, 3.4, 3.4])",$10.20
110,Suspension,1.44,7,"((110, Suspension, 1.44), [1.44, 1.44, 1.44, 1...",$10.08
1,Crucifer,1.99,1,"((1, Crucifer, 1.99), [1.99])",$1.99
104,Gladiator's Glaive,1.93,1,"((104, Gladiator's Glaive, 1.93), [1.93])",$1.93
42,The Decapitator,1.75,1,"((42, The Decapitator, 1.75), [1.75])",$1.75